<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>objects</key>
	<dict/>
	<key>booleans</key>
	<dict/>
	<key>strings</key>
	<dict>
		<key>buttonTitle</key>
		<string>base button</string>
	</dict>
	<key>urls</key>
	<dict/>
	<key>numbers</key>
	<dict>
		<key>separator</key>
		<string>1</string>
	</dict>
	<key>fonts</key>
	<dict>
		<key>content</key>
		<string>12</string>
		<key>title</key>
		<string>15</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>red</key>
		<string>rgb(255, 0, 0)</string>
		<key>yellow</key>
		<string>rgba(255,  255,  0, 0.8)</string>
		<key>green</key>
		<string>#0f0</string>
		<key>blue</key>
		<string>#0000ff</string>
	</dict>
	<key>images</key>
	<dict>
		<key>icon</key>
		<string>icon1</string>
		<key>bg</key>
		<string>bg1</string>
	</dict>
</dict>
</plist>
