<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>super</key>
	<string>base</string>
	<key>colors</key>
	<dict>
		<key>red</key>
		<string>rgb(0, 128, 128)</string>
		<key>yellow</key>
		<string>rgba(0,  0,  128, 0.8)</string>
		<key>green</key>
		<string>#808</string>
		<key>blue</key>
		<string>#888800</string>
	</dict>
</dict>
</plist>
