<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>super</key>
	<string>base</string>
	<key>strings</key>
	<dict>
		<key>buttonTitle</key>
		<string>night button</string>
	</dict>
	<key>images</key>
	<dict>
		<key>icon</key>
		<string>icon2</string>
		<key>bg</key>
		<string>bg2</string>
	</dict>
	<key>fonts</key>
	<dict>
		<key>content</key>
		<string>22</string>
		<key>title</key>
		<string>25</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>red</key>
		<string>rgb(128, 0, 0)</string>
		<key>yellow</key>
		<string>rgba(128,  128,  0, 0.8)</string>
		<key>green</key>
		<string>#080</string>
		<key>blue</key>
		<string>#000088</string>
	</dict>
</dict>
</plist>
